
.gameBoard {
  height: 100vh;
  display: flex;
  background-color: #FAFAFA;
  // hides gameboard until start button is clicked
  &.hide {
    display: none;
  }

}

.cardContainer { 
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  perspective: 1000px;
}

.memoryCard {
  // flex: 1 0 20%;
  width: calc(135px - 10px);
  height: calc(135px - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transition: all ease-in-out .3s;
  transform-style: preserve-3d;

  // hover/focus states
  &:hover,
  &:focus {
    transform: scale(1.075);
  }
  // active state
  &:active {
    transform: scale(.97);
    transition: all .2s;
  }

  // flip animation
  &.flip {
    transform: rotateY(180deg);
  }
  // memory card media queries
  @media (max-width: 600px) {
    width: calc(125px - 10px);
    height: calc(125px - 10px);
  }
  // memory card media queries
  @media (max-width: 555px) {
    width: calc(110px - 10px);
    height: calc(110px - 10px);
  }
  // memory card media queries
  @media (max-width: 522px) {
    width: calc(105px - 10px);
    height: calc(105px - 10px);
  }
  // memory card media queries
  @media (max-width: 515px) {
    width: calc(92px - 10px);
    height: calc(92px - 10px);
  }
  // memory card media queries
  @media (max-width: 420px) {
    width: calc(75px - 10px);
    height: calc(75px - 10px);
  }

}

.frontFace,
.backFace {
  width: 100%;
  height: 100%;
  position: absolute;
}

.frontFace,
.backFace {
  border: .2rem solid #BC85A3;
  border-radius: 1rem;
  backface-visibility: hidden;
}

.frontFace {
  transform: rotateY(180deg);
}