
.gameBoard {
  height: 100vh;
  display: flex;
  background-color: #FAFAFA;
  margin: 0 auto;

  &.hide {
    display: none;
  }
  
}

.cardContainer { 
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
  display: flex;
}

.memoryCard {
  width: calc(150px - 10px);
  height: calc(150px - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transition: all ease-in-out .3s;
  transform-style: preserve-3d;

  // hover/focus states
  &:hover,
  &:focus {
    transform: scale(1.075);
  }
  // active state
  &:active {
    transform: scale(.97);
    transition: all .2s;
  }

  // flip animation
  &.flip {
    transform: rotateY(180deg);
  }

  @media (max-width: 600px) {
    width: calc(125px - 10px);
    height: calc(125px - 10px);
  }

  @media (max-width: 521px) {
      width: calc(100px - 10px);
      height: calc(100px - 10px);
    }
  
  @media (max-width: 420px) {
    width: calc(75px - 10px);
    height: calc(75px - 10px);
  }

}

.frontFace,
.backFace {
  width: 100%;
  height: 100%;
  position: absolute;

}

.frontFace,
.backFace {
  border: .2rem solid #BC85A3;
  border-radius: 1rem;
  backface-visibility: hidden;
}

.frontFace {
  transform: rotateY(180deg);
}



// sweet alert


