html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'indie flower', sans-serif;
}

.wrapper {
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
}

h1,
h2,
h3,
button {
  font-family: 'quicksand', sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

* {
  margin: 0;
}

header {
  background-color: #9799BA;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.startPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1 {
  font-size: 8rem;
  font-weight: 700;
  background-color: #FEADB9;
  padding: 5rem;
  border: .5rem solid #BC85A3;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.startButton {
  font-size: 4rem;
  background-color: #F9E1E0;
  padding: .5rem 1rem;
  border: .5rem solid #BC85A3;
  border-radius: 1rem;
  -webkit-transition: all .3s;
  transition: all .3s;
  scale: 1;
}

.startButton:hover, .startButton:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.startButton:active {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

.gameBoard {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FAFAFA;
  margin: 5px auto;
}

.gameBoard.hide {
  display: none;
}

.cardContainer {
  max-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.memoryCard {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 20%;
          flex: 1 0 20%;
  margin: 5px;
  position: relative;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.memoryCard:hover, .memoryCard:focus {
  -webkit-transform: scale(1.075);
          transform: scale(1.075);
}

.memoryCard:active {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
  -webkit-transition: all .2s;
  transition: all .2s;
}

.memoryCard.flip {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

@media (max-width: 600px) {
  .memoryCard {
    width: calc(125px - 10px);
    height: calc(125px - 10px);
  }
}

@media (max-width: 521px) {
  .memoryCard {
    width: calc(100px - 10px);
    height: calc(100px - 10px);
  }
}

@media (max-width: 420px) {
  .memoryCard {
    width: calc(75px - 10px);
    height: calc(75px - 10px);
  }
}

.frontFace,
.backFace {
  width: 100%;
  height: 100%;
  position: absolute;
}

.frontFace,
.backFace {
  border: .2rem solid #BC85A3;
  border-radius: 1rem;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.frontFace {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
